<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.mapper.ArenaConfigMapper">
 	<select id="selectArenaNote" resultType="string">
        SELECT NOTE
        FROM ARENA_CONFIG
    </select>

    <update id="upsertArenaNote" parameterType="string">
    	UPDATE ARENA_CONFIG SET NOTE = #{note}
    </update>

</mapper>
