<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.SettingMapper">
	
	<resultMap id="SettingResultMap" type="com.example.model.Setting">
	    <result property="type" column="type"/>
	    <result property="day" column="day"/>
	    <result property="slot" column="slot"/>
	    <result property="attribute" column="attribute"/>
	    <result property="heroIdx" column="hero_idx"/>
	    <result property="name" column="name_eng"/>
	    <result property="ctpId" column="ctp_id"/>
	    <result property="ctpName" column="ctpName"/>
	    <result property="ctpNameEng" column="ctpNameEng"/>
	    <result property="color" column="color"/>
	    <result property="note" column="note"/>
	</resultMap>
	
    <select id="selectAllSettings" resultMap="SettingResultMap">
        SELECT
        	S.type,
        	S.day,
        	S.slot,
        	S.attribute,
        	S.hero_idx,
        	H.name_eng,
        	H.ctp_id,
        	C.name AS ctpName,
        	C.name_eng AS ctpNameEng,
        	C.color AS color,
        	S.note
        FROM
        	SETTING S
        LEFT OUTER JOIN HERO H ON S.hero_idx = H.id
        LEFT OUTER JOIN CTP C ON H.ctp_id = C.id
        ORDER BY type ASC, day ASC, slot ASC
    </select>

	<select id="getCombToday" resultType="int">
        SELECT today_idx
        FROM COMBTODAY
        LIMIT 1
    </select>
    
<select id="getHeroGroupCount" parameterType="map" resultType="map">
    SELECT
        COALESCE(g.group_idx, s.hero_idx) AS group_idx,
        h2.name_eng AS group_name_eng,
        h2.name_kor AS group_name_kor,
        c2.name AS ctp_name,
        c2.color AS color,
        COUNT(*) AS use_cnt
    FROM SETTING s
    LEFT JOIN HERO_GROUP g
        ON s.hero_idx = g.hero_idx
    JOIN HERO h2
        ON h2.id = COALESCE(g.group_idx, s.hero_idx)
    LEFT JOIN CTP c2
        ON h2.ctp_id = c2.id
    <where>
        AND (s.infinity IS NULL OR s.infinity != 1)  <!-- infinity가 1이면 제외 -->

        <if test="ctpList != null">
            AND c2.name IN
            <foreach item="ctp" collection="ctpList" open="(" separator="," close=")">
                #{ctp}
            </foreach>
        </if>
    </where>
    GROUP BY
        COALESCE(g.group_idx, s.hero_idx),
        h2.name_eng,
        h2.name_kor,
        c2.name,
        c2.color
    ORDER BY ${orderBy}
</select>
</mapper>