<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.TodayIdxMapper">
	
	<update id="updateTodayIdx">
	    UPDATE COMBTODAY
	    SET today_idx = CASE
	                        WHEN today_idx &lt; 28 THEN today_idx + 1
	                        ELSE 1
	                    END
	</update>
</mapper>